
    body {
      margin: 0;
      font-family: Georgia, serif;
      font-size: 18px;
      letter-spacing: 1.8px;
      word-spacing: 2px;
      font-weight: 400;
      text-decoration: none solid rgb(68, 68, 68);
      font-style: normal;
      font-variant: normal;
      text-transform: none;
      background-color: #000000;

    }

    .top-container {
      background-color: #cfefba;
      padding: 1px;
      display: flex;

    }

    .top-container img {
      width: 20%;
    }

    main img {
      width: 48%;
    }

    main {
      padding: 2em;
    }

    aside img {
      width: 48%;
    }


    .header {
      padding: 10px 16px;
      background: rgb(66, 65, 65);
      color: #94A89A;
    }



    .topnav {
     
      overflow: hidden;
      background-color: #333;
      padding: 10px 16px;
    }

    .topnav a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 20px;
    }

    .topnav a:hover {
      background-color: rgb(217, 206, 206);
      
    }



    img {
      border-radius: 50%;
      position: relative;
    }

    .headerText {
      width: 85%;
      font-size: 35px;
    }

    #maincontent {
      width: 900px;
      margin: 0 auto;
      text-align: left;
      color: rgb(255, 255, 255);
      padding: 0;
      height: 100%
    }

    .section {
      width: 400px;
      float: left;
      margin-right: 40px;
      background-repeat: no-repeat;
      position: relative;
      height: 300px;
      color: #000000;
      font-size: 35px;
    }

    .section.one {
      background-image: url(images/blue-snake.jpg);
    }

    .overlay {
      background-color: rgba(255, 255, 255, .5);
      position: absolute top:500px;
      width: 400px;
      height: 50px;
      -webkit-transition: all 1s ease-in-out .2s;
      -moz-transition: all 1s ease-in-out .2s;
      -ms-transition: all 1s ease-in-out .2s;
      -o-transition: all 1s ease-in-out .2s;
      transition: all 1s ease-in-out .2s;

    }

    .overlay:hover {
      height: 600px;
      top: 0;
    }

    @media screen and (max-width: 1100px){
      body{
        background-color: rgb(91, 121, 111);}
      }

      @media screen and (max-width: 700px){
      body{
        background-color: rgb(117, 77, 117);}
      }

      @media screen and (max-width: 400px){
        body{
          background-color: rgb(228, 182, 228);}
        }


 